.film-list {
    display: flex;
    flex-wrap: wrap;
}

.film-item {
    padding: 5px;
    background-color: #199dc5;
    text-align: center;
    margin: 5px;
    flex-basis: 18%;
}

.item {
    margin: 3px 0;
    text-align: center;
}

.button {
    background-color: rgb(113, 224, 21);
    outline: 0;
} 

.item-link {
    text-decoration: none;
    color: red;
    margin: 3px;
    border: 1px solid black;
    display: inline-block;
}